.bg-container {
  background-image: url(https://assets.ccbp.in/frontend/react-js/reviews-bg.png);
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.reviews-heading {
  color: white;
  font-family: 'roboto';
}
.details-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.review-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.arrow-button {
  background-color: transparent;
  border: none;
}
